<!DOCTYPE html>
<html>
<head>
  <title>Myuzikapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>


<%= yield %>

<br><%= log_out_button if current_user %>
</body>
</html>
